html, body{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    line-height: 2.6em;
    color: #000;
}

body{
    margin: 0;
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: lightgray;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #85C74D;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: green;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

/*-----------------------*/
/*----------Nav----------*/
/*-----------------------*/

.navwrapper{
    display: flex;
    width: 100%;
    height: 128px;
    align-items: center;
    justify-content: center;
    border-bottom: 7px;
    border-bottom-style: solid;
    border-bottom-color: #85C74D;
}
.navwrapper a{

}

#navlogo{
    width: 128px;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 15px;
}
/*NYT*/
.navheader{
    position: relative;
    display: inline-block;
}

.navheader-content{
    min-width: 200px;
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.navheader-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.navheader-content a:hover{
    background-color: #85C74D;
    color: #FFF;

}

.navheader-btn{
    width: 200px;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom:50px;
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    text-align: center;
    display: inline-block;
}

.navheader-btn:hover {
    color: #FFF;

}

.navheader-btn:focus {
    outline: 0;

}

.navheader:hover .navheader-content{
    display: block;
}

.navheader:hover .navheader-btn{
    background-color: #85C74D;
    color: #FFF;

}

/*-----------------------*/
/*---------Index---------*/
/*-----------------------*/

h1{
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    margin: 40px;
    color: black;
}

.slideshow{
    max-width: 1200px;
    position: relative;
    margin: auto;
}

.slideshow-slide{
    display: none;
}

.slideshow-prev, .slideshow-next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 50% 50% 0;
}

.slideshow-next{
    right: 0;
    border-radius: 50% 0 0 50%;
}

.slideshow-prev:hover, .slideshow-next:hover{
    background-color: rgba(0,0,0,0.8);
}

.slideshow-count{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.slideshow-count-active, .slideshow-count:hover{
    background-color: #717171;
}

.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/*-----------------------*/
/*------Index Pt. 2------*/
/*-----------------------*/

.indexwrapper {
    max-width: 1200px;
    position: relative;
    margin: auto;
}

.indexcontent-left {
    margin-top: 40px;
    margin-bottom: 40px;
    border: 7px solid #85C74D;
    height: 250px;
    border-radius: 500px;
    display: flex;
}

.indexcontent-right {
    margin-top: 40px;
    margin-bottom: 40px;
    border: 7px solid #85C74D;
    height: 250px;
    border-radius: 500px;
    display: flex;
    justify-content: flex-end;
}

.indexcontent-title {
    line-height: 50px;
    font-size: 40px;
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
}

.indexcontent-text {
    line-height: 50px;
    font-size: 40px;
}

/*-----------------------*/
/*---------Footer--------*/
/*-----------------------*/

footer{
    height: auto;
    width:100%;
    border-top: 7px;
    border-top-style: solid;
    border-top-color: #85C74D;
 }

.footerleft{
    float:left;
    width:33%;
    left: 53px;
    border:1px solid #CCC;
    padding:10px;
}

.footerright{
    float: right;
    width:33%;
    border:1px solid #CCC;
    padding:10px;
}
